In [66]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [67]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [68]:
#data cleaning
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [69]:
#outliers function
def outlier(df,col):
  q1=df[col].quantile(0.25)
  q3=df[col].quantile(0.75)
  iqr=q3-q1
  upperlimit=q3+1.5*iqr
  lowerlimit=q1-1.5*iqr
  return upperlimit,lowerlimit

#age outliers
upperlimit_age,lowerlimit_age=outlier(df,'Age')
print("Upper_age: ",upperlimit_age,"Lower_age: ",lowerlimit_age)
#calculate mean of non_outlier values
df_nonoutlier=df[(df['Age']>0) & (df['Age']<upperlimit_age)]
mean_age=df_nonoutlier['Age'].mean()
# replace with age>upper with upper and age<lower with lower:
for i in df['Age']:
  if i>upperlimit_age:
    df['Age']=df['Age'].replace(i,upperlimit_age)
  elif i<lowerlimit_age:
    df['Age']=df['Age'].replace(i,0)
# print(df[(df["Age"] < lowerlimit_age) | (df["Age"] > upperlimit_age)])

Upper_age:  64.8125 Lower_age:  -6.6875

In [70]:
#replacing null values
df['Age']=df['Age'].fillna(mean_age)
mean_fare=df['Fare'].mean()
df['Fare']=df['Fare'].fillna(mean_fare)
#sum of unique values in embarked
df['Embarked'].value_counts()
#replace nan with most freq val in embarked
df['Embarked']=df['Embarked'].replace('nan','S')

In [71]:
#drop useless cols
# df.drop(['PassengerId','Survived'],axis=1,inplace=True)
df.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)
df.head(10)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.000000,1,0,7.2500,S
1,2,1,1,female,38.000000,1,0,71.2833,C
2,3,1,3,female,26.000000,0,0,7.9250,S
3,4,1,1,female,35.000000,1,0,53.1000,S
4,5,0,3,male,35.000000,0,0,8.0500,S
5,6,0,3,male,29.072077,0,0,8.4583,Q
6,7,0,1,male,54.000000,0,0,51.8625,S
7,8,0,3,male,2.000000,3,1,21.0750,S
8,9,1,3,female,27.000000,0,2,11.1333,S
9,10,1,2,female,14.000000,1,0,30.0708,C

In [72]:
#label encoding for categorical data like Embarked, Sex
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
df['Embarked']=le1.fit_transform(df['Embarked'])
le2=LabelEncoder()
df['Sex']=le2.fit_transform(df['Sex'])
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2